
.Favorites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;  
    }

.order{
display:inline;
background-color:wheat;
height: 20px; /*altura*/
color: black;
position: absolute;
top: 17px;
right: 400px;

}

.filter{
    display:inline;
    background-color:wheat;
    height: 20px; /*altura*/
    color: black;
    position: absolute;
    top: 40px;
    right: 400px;
}

h2{
    color: black;
}
  
  
