.Card{
    background-color:wheat;
    margin: 20px auto;
    padding: 0;
    color: black;
    max-width: 300px;
    border: 3px solid black;
    text-align: center;
}

.Card img{
    width: 297px;
  
   
     
}

.Card button{
    padding: 0.01 em;
    margin: 10px;
    background-color: grey;
    border: 2px solid rgb(253, 253, 118);
    


}