.Formulario{

   background-image: url(https://i.pinimg.com/originals/a0/fb/9e/a0fb9eba4b967007c898638cb1a1de46.jpg);
  background-size: cover;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-width: 3px;
    border: 1px solid yellow;
    border-radius: 10px;

};
